.janelaModal {
position: fixed;
font-family: arial;
font-size:80%;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.5);
z-index: 99999;
opacity:0;
transition: opacity 400ms ease-in;
border-radius: 2px;
pointer-events: none;
}
.cabecarioModal h2 { color: #000; border-bottom: 2px groove #efefef; }
.janelaModal:target {
opacity:1;
pointer-events: auto;
}
.janelaModal > div {
width: 500px;
position: relative;
margin: 10% auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #fff;
}
.janelaModal .cabecarioModal  {    padding: 5px 20px 0px 20px; }
.janelaModal .conteudoModal {    padding: 0px 40px 5px 40px; }
.fechar{
background: #606061;
color: #FFFFFF;
line-height: 25px;
text-align: center;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}
.fechar {
position: absolute;
right: 5px;
top: 5px;
width: 22px;
height: 22px;
font-size: 10px;
}
.fechar:hover{ background: #D4482D; }