#cadastrarDados{
	margin: 10px 0 0 15px;
}
#paginacao{
	margin-left: 400px;
}
#linhaTabela tr:hover{
	background: #eaeaea;
}
#buscador{
	margin: 8px 8px 8px 8px;
}
/* inativo */
#rodapeEmpresa{
	background: green;
	width: 100%;
	height: 120px;
}
#textoAnuncio{
	text-align: center;
	padding: 5px 2px 5px 2px;
	width: 155px;
}
#textoAnuncio:hover{
	background: #e5e5e5;
}
