* {
	margin: 0;
	padding: 0;
}
#curriculo {
	width: 500px;
	margin: 0 auto;
	margin-left: 50%;
}
/* IDs dos campos curriculo */
#nome, #cpf, #cidade, #bairro, #cep, #endereco, #numero, #complemento, #celular, #instituicao, #curso, #capacitacao, #entidade, #cargaH, #conclusao02, #usuario, #email, #senha, #atuacao, #experiencia {
	width: 500px;
}
#admissao, #demissao, #descricao, #empresa, #conclusao, #telFixo {
	width: 500px;
}

#dtNasc01, #dtNasc02, #dtNasc03 {
	width: 50px;
}

.estCivil, .escolaridade, .estado {
	width: 500px;
}
/* fim */

/* ID do button formFormacao da informação adicional */
#cadastrarFormacao, #cadastrarCapacitacao, #cadastrarExperiencia {
	margin-left: 425px;
}

#cadastrarExperiencia{
	margin-left: 425px;
}
/* fim */

#exper, #capac, #forma, #infContato, #acesso {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	color: #b4b4b4;
}

#f, #c, #e, #Ic, #Ac{
	font-weight: bold;
	color: #2f2f2f;
}
h4{
	position: absolute;
	top: 275px;
	left: 15%;
}
#bt1{
	margin-left: 438px;
}
#bt2,#bt4{
	margin-left: 356px;
}
.pg_dif{
	color: #808080;
	margin-left: 20px;
	font-size: 12pt;
	
}
.pg_atual{
	color: #1E90FF;
	margin-left: 20px;
	font-size: 14pt;
}
