@charset "UTF-8";

ul#album-fotos{
    display:block;
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    transition: all .4s ease-in;
}

ul#album-fotos li span{
    opacity: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover{
    transform: scale(1.5);
}

ul#album-fotos li:hover span{
    opacity: 1;
}

ul#album-fotos li#foto01{
    background: url(../imagens/basic.png) no-repeat;
    background-position: 0% 0%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto02{
    background: url(../imagens/plus.png) no-repeat;
    background-position: 0% 0%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto03{
    background: url(../imagens/master.png) no-repeat;
    background-position: 0% 0%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto04{
    background: url(../imagens/gold.png) no-repeat;
    background-position: 0% 0%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
a.link{
    color: #fff;
    text-decoration: none;
}

