

    /* HEADER */

    #header{
        width: 100%;
        min-height: 100px;
        padding: 40px 0;
        background: #005177;
        background: linear-gradient(#005177,#006A9D 10%,#0088BB);
    }
    #header .main-menu{
        margin-top: 20px;
        color: #fff;
    }
    #header .main-menu a{
        color: #fff;
    }
    #header .search{
        margin-top: 15px;
    }

    /* NAV */
    #nav{
        background: #0E376A;
        background: linear-gradient(#0E376A,#062642);
        position: relative;
    }
    #nav ul,
    #nav li{
        padding: 0;
        margin: 0;
        float: left;
        list-style: none;
        color:#fff;
    }
    #nav li{
        position: relative;
    }
    #nav a{
        margin: 0;
        float: left;
        padding: 15px 20px;
        width: auto;
        color: #fff;
        text-decoration: none;
        transition: background 1s ease;
    }
    #nav a:hover{
        background: #0088BB;
        transition: background 1s ease;
    }
    #nav li.active a{
        background: #0088BB;
    }
    #nav ul ul{
        position:absolute;
        width: auto;
        background-color:#062642;
        top: 50px;
        z-index: 2;
        display: none;
    }
    #nav ul .drop{
        position:absolute;
        width: auto;
        top: 50px;
        z-index: 2;
        width: 700px;
        display: none;
    }
    #nav ul .drop ul{
        position: relative;
        background-color:#062642; 
        display: inline-block;
        border-left: 1px dotted #0E376A;
        margin:0;
        top:0;
        padding:0 4px;
    }
    #nav ul .drop ul:first-child{
        border-left: none;
    }
    #nav li li{
        float: none;
        text-align: center;
    }
    #nav li li a{
        min-width: 180px;
    }

    #nav li:hover .drop{
        display:block;
    }
    #nav li:hover ul{
        display:block;
    }
    #nav li li:first-child{
        padding: 15px 20px;
        margin-bottom: 10p;
        border-bottom: 1px solid #0E376A;
    }
    #wrapper-slider img{
        height: 400px;
        width:100%;
    }

    #wrapper-products h2{
        font-size: 24px;
        margin: 0;
    }
    #wrapper-products h2 small{
        font-size: 16px;
    }
    #wrapper-products .order{
        margin-top:16px;
    }
    #wrapper-products input[type="radio"]{
        margin: 0;
    }
    #wrapper-products .products{
        float: left;
        padding: 20px 0;
        background: #F6F6F6;
        border-radius: 5px;
    }
    #wrapper-products .product{
        width:100%;
        margin-bottom: 10px;
        float:left;
    }
    #wrapper-products .product img{
        float: left;
        margin-right: 10px;
    }
    #wrapper-products .product p{
        font-size: 16px;
        line-height: 20px;
        margin:0;
    }
    #wrapper-products .product a{
        color: #000;
        vertical-align: top;
    }

    #wrapper-products .plano{
        float: left;
        padding: 10px 0;
        background: #FFFFFF;
        border-radius: 5px;
    }
    #wrapper-products .plano{
        width:100%;
        margin-bottom: 10px;
        float:left;
    }
    #wrapper-products .plano img{
        float: left;
        margin-right: 10px;
    }
    #wrapper-products .plano p{
        font-size: 16px;
        line-height: 20px;
        margin:0;
    }
    #wrapper-products .plano a{
        color: #000;
        vertical-align: top;
    }
    #footer{
        padding: 15px 0 5px 0;
        margin-top: 30px;
        color: #fff;
        background: #062642;
        background: linear-gradient(#0E376A,#062642);
    }
    .thumbnail{
        padding:4px;
        background: #fefefe;
        border:1px solid #ccc;
    }
	#nome_usuario{
		background-color: black;
		color: white;
		width: 100%;
		box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	}
	div#login_usuario{
	position: absolute;
	top: 155px;
	margin-top: 40px;
 width: 100%;
 height: 25px;
 background-color: rgba(0,0,0,.3);
 color: white;
 padding-left: 50%;
text-align: middle;
 font-size: 13pt;
 margin: 0;
 line-height:12px;
}



